name: CI
on:
  pull_request:

jobs:
  python-compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Compile all Python files
        run: python -m compileall .
